.idea
node_modules
.env
website
Assistants_Services.rar
Assistants_Services.zip
src/.next
.idea
.next
node_modules
test
projects/licenses/config.js
projects/licenses/resources-licenses
json.sqlite
cloudinary_config.js
src/isBeta.js
projects/auth