.idea
node_modules
.env
website
Assistants_Services.rar
Assistants_Services.zip
src/.next
.idea
.next
node_modules
test
projects/licenses/config.js
projects/licenses/resources-licenses
json.sqlite
cloudinary_config.js
src/isBeta.js
projects/auth
mailer/config.js
.vscode
projects/main/api/discord-dashboard/route.js
projects/main/api/discord-dashboard/softui/route.js
projects/main/api/discord-dashboard/softui/addons/
configs/digitalItems.js
configs/digitalItems.js
package-lock.json
yarn.lock
